
/*Option*/
body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    font-size: 16px;
    background-color:#FFFFFF;
    line-height: 1.5;
}

ul, ol {list-style-type: none;}

.subtitle {              /*styles h2*/
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}


.title {               /*styles of al h3*/
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {               /* styles of al <p>*/
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/*Styles Header*/

.nav-link {
    /**/
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address-link{
    color: #434455;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus{
    color:#404bbf;
}
.contacts{font-style: normal}

/* Logo styles */

.logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.black {color: #2E2F42;} /* header */
.light {color: #F4F4FD;} /* footer */


/* Section 1 Title*/

.section-title {
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
    font-family: inherit;
}

.title-main {         /*Style h1*/
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF
}

/* Section 2 Benefits */

.section-benefits{}

.benefits-list{background-color: #FFFFFF}

.benefits-item{}

/* Section 3 Team */

.section-team {background-color: #F4F4FD}

.team-list{}

.team-item{
    background-color: #FFFFFF;
    text-align: center
}

.team-img{}



/* Section 4 Portfolio */

.section-portfolio {}

.portfolio-list{}

.portfolio-item{}

.portfolio-img{}



/* Footer */

.page-footer {
    background-color: #2E2F42;
}

.text-footer {
    color: #F4F4FD;
    letter-spacing: 0.02em
}


/* */


